.book-unit {
    box-sizing: border-box;
    max-width: 500px;
    padding: 15px;
}

.choice {
    display: flex;
    flex-direction: row;
}

.choice-stacked {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.navigator {
    max-width: 500px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
