.unit-div {
  width: 345px;
  height: 450px;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-weight: bold;
  max-width: 100%;
}

.unit-features-div {
  letter-spacing: .5px;
}

.per-month {
  font-size: smaller;
}

.strike-through-price {
  text-decoration: line-through;
  color: #999999; 
}


@media screen and (min-width: 500px) {

  .unit-div {
    width: 500px;
    height: 615px;
  }

  .unit-picture-div {
    height: 505px;
  }

}


@media screen and (min-width: 1100px) {

  .unit-div {
    flex-direction: row;
    width: 800px;
    height: 505px;
  }

  .unit-features-div {
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 500;
  }

}