html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  font-family: Arial;
  font-size: 18px;
  color: #404040;
}

.container {
  height: 951px;
  display: grid;
  grid-template-columns: 17.5% 32.5% 1fr 17.5%;
  grid-template-rows: 80px 40% 1fr 80px;
}

header {
  grid-area: 1 / 1 / 2 / 5;
  background-color: #212F3D;
}

nav {
  grid-area: 1 / 2 / 2 / 4;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  height: 100%;
  width: 50%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  outline: none;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 25px 15px;
}

.logo-and-menu-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  outline: none;
  text-decoration: none;
  padding: 15px 0px;
}

.menu-button {
  display: none;
  outline: none;
  text-decoration: none;
  height: 46px;
  width: 40px;
  font-size: 24px;
  text-align: center;
  background-color: #212F3D;
  color: white;
}

.default-body {
  grid-area: 2 / 2 / 4 / 4;
}

.picture-div {
  grid-row: 2;
  grid-column: 2 / 4;
  overflow: hidden;
}

.picture {
  height: 100%;
  width: 1250px;
  float: right;
}

.info {
  grid-row: 2;
  grid-column: 3;
  background-color: gray;
}

.features {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  color: white;
  font-size: 24px;
}

.feature {
  list-style: none;
}

.feature:before {
  content: '✓ ';
}

.body-text {
  grid-row: 3;
  grid-column: 2;
  padding-right: 10px;
}

.body-text h1 {
  color: #2C3E50;
}

.body-text p {
  line-height: 1.6;
}

.map {
  grid-row: 3;
  grid-column: 3;
  padding: 15px 0px;
}

.map iframe {
  height: 100%;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 4;
  grid-column: 1 / 5;
  background-color:  #364D63;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: white;
}

/**************************
Units
**************************/
.unit-div-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.unit-div {
  height: 100px;
  max-width: 800px;
  border-style: solid;
  border-width: 1px;
  border-color:  #364D63;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;

}

@media only screen and (max-width: 900px) {

  .container {
    height: 1200px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr 1fr 1fr 80px;
  }

  nav {
    grid-row: 1;
    grid-column: 1;
    margin: 0px 10px 0px 10px;
  }
  
  .nav-links {
    width: 66%;
  }  

  header {
    grid-row: 1;
    grid-column: 1;
  }
    
  .default-body {
    grid-area: 2 / 1 / 5 / 2;
    margin: 0px 10px;
  }

  .picture-div {
    grid-row: 2;
    grid-column: 1;
  }
  
  .body-text {
    grid-row: 3;
    grid-column: 1;
    margin: 0px 10px;
  }
  
  .map {
    grid-row: 4;
    grid-column: 1;
    height: 400px;
    margin: 0px 10px;
  }

  footer {
    grid-row: 5;
    grid-column: 1;
    text-align: center;
    color: white;
  }

  .unit-div {
    width: 100%;
  }


}

@media only screen and (max-width: 500px) {
  
  .container {
    grid-template-rows: auto 380px 1fr 1fr 80px;
  }
 
  nav {
    flex-direction: column;
  }  

  .logo-and-menu-button {
    width: 100%;
  }

  .logo {
    padding: 15px 15px 15px 0px;
  }

  .menu-button {
    display: block;
    height: 80px;
    width: 60px;
    padding: 20px 0px 20px 20px; 
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }

  .nav-links li a {
    width: 100%;
    padding: 8px 0px;
    border-top: 1px solid;
    border-color: #364D63;
  }

  .unit-div {
    flex-direction: column;
    height: 200px;
  }
  .toggle-nav-links {
    display: block;
  }
}
