.MuiTabs-root {
  margin-left: auto;
  justify-content: flex-end;
}

.MuiToolbar-gutters {
  padding-left: 16.6%;
  padding-right: 16.6%;
}

.MuiGrid-grid-xs-8 {
  overflow: hidden;
}


.MuiGrid-container {
  justify-content: center;
}

.MuiTypography-root {
  padding: 10px;
}

.jumbotron {
  padding: 10px;
}